 <table>
  <thead>
    <tr>
      <th>Name &nbsp; &nbsp;</th>
      <th>Author &nbsp; &nbsp;</th>
      <th>  &nbsp; &nbsp;Actions  </th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author %></td> 
        <td>
        <%= link_to 'Show |', book %> 
        <%= link_to 'Return Book', user_book_path(id:book.user_books.find_by(user_id: current_user.id).id),method: :delete %>
        </td>
      </tr>
      
    <% end %>
  </tbody>
</table>