<!DOCTYPE html>
<html>
<head>
<title>Books</title>

</head>

<body>
 
<h1>Listing all Books</h1>
<br/>


 
<%= render 'books' %>
<br/>
<div class="digg_pagination">
    <%= will_paginate @books, :container => false %>
  </div>

<br>

<div>
   <%= link_to "New Book", new_book_path, class: "btn btn-outline-info"%>
</div>
 

<p>
<%= link_to 'Home', root_path %>
</p>

</body>

</html>